.box:hover {
  background: rgb(255, 0, 0);
}

.box {
  display: flex;
  border: 1px solid black;

  height: 15px;

  margin: 0 0 -0.1 -0.1;
}

.off {
  background-color: white;
}

.on {
  background-color: black;
}
